# Generated JSON files
*.json

# Generated HTML files
*.html

# Generated MATLAB files
*.mat

# Pyc
*.pyc

# Elevation data folder
elevationdata/*.*

*.tif

*.hdr

*.tfw

elevationdata/srtm_39_04/readme.txt

elevationdata/srtm_39_03/readme.txt

elevationdata/srtm_38_02/readme.txt

elevationdata/srtm_37_02/readme.txt

elevationdata/srtm_38_03/readme.txt

elevationdata/srtm_38_04/readme.txt
