# Generated JSON files
*.json

# Generated HTML files
*.html

# Generated MATLAB files
*.mat

# Pyc
*.pyc

# Elevation data folder
elevationdata/*/*.txt
elevationdata/*/*.hdr
elevationdata/*/*.tfw
elevationdata/*/*.tif
elevationdata/*.tif
